@font-face {
  font-family: 'Welcome-Font';
  src: url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-regular.woff2') format('woff2'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-regular.woff') format('woff'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Welcome-Font';
  src: url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-medium.woff2') format('woff2'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-medium.woff') format('woff'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Welcome-Font';
  src: url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-bold.woff2') format('woff2'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-bold.woff') format('woff'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-bold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Welcome-Font';
  src: url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-regular-italic.woff2') format('woff2'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-regular-italic.woff') format('woff'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-regular-italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Welcome-Font';
  src: url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-medium-italic.woff2') format('woff2'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-medium-italic.woff') format('woff'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-medium-italic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Welcome-Font';
  src: url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-bold-italic.woff2') format('woff2'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-bold-italic.woff') format('woff'),
  url('https://cdn.welcometothejungle.co/common/assets/fonts/welcome-font-bold-italic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
}
