
@font-face {
  font-family: 'Welcomeweb-Black';
  src: font-url('Welcomeweb-Black.eot') format('embedded-opentype'),
  font-url('Welcomeweb-Black.woff2') format('woff2'),
  font-url('Welcomeweb-Black.woff') format('woff'),
  font-url('Welcomeweb-Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Welcomeweb-Blackitalic';
  src: font-url('Welcomeweb-Blackitalic.eot') format('embedded-opentype'),
  font-url('Welcomeweb-Blackitalic.woff2') format('woff2'),
  font-url('Welcomeweb-Blackitalic.woff') format('woff'),
  font-url('Welcomeweb-Blackitalic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Welcomeweb';
  src: font-url('Welcomeweb-Bold.eot') format('embedded-opentype'),
  font-url('Welcomeweb-Bold.woff2') format('woff2'),
  font-url('Welcomeweb-Bold.woff') format('woff'),
  font-url('Welcomeweb-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Welcomeweb';
  src: font-url('Welcomeweb-Bolditalic.eot') format('embedded-opentype'),
  font-url('Welcomeweb-Bolditalic.woff2') format('woff2'),
  font-url('Welcomeweb-Bolditalic.woff') format('woff'),
  font-url('Welcomeweb-Bolditalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}
